<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Fortnite Porting</string>
	<key>CFBundleExecutable</key>
	<string>FortnitePortingLauncher</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>app.fortniteporting.FortnitePorting</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FortnitePorting</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>FortnitePorting Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fortniteporting</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>LSEnvironment</key>
	<dict>
		<key>AVALONIA_GLOBAL_SCALE_FACTOR</key>
		<string>1</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
